<div class="my-2">
    <button class="btn btn-danger btn-danger mr-4" (click)="goBack()">Back</button>
    <button class="btn btn-danger mx-5" (click)="update()">Update</button>

    <button (click)="preview()" class="btn btn-danger">Preview</button>
</div>

<div class="red-title-banner">
    <h2 class="text-white" data-fieldName="heading" (blur)="onKey($event)" contenteditable [innerHTML]="heading || 'Product Name'"> </h2>
</div>


<section style="padding: 50px 0;">
    <div class="container">
        <div class="row mx-auto">

            <div *ngFor="let s of editSection; let i = index" class="position-relative col-12 col-sm-6 col-md-6 col-xl-6">
                <button (click)="toggleEdit(i)" color="accent" class="btn btn-danger mx-1">
          <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
        </button>
                <div [innerHTML]="s.data"></div>
                <div *ngIf="s.toggle" class="">
                    <angular-editor [(ngModel)]="s.data" [config]="config"></angular-editor>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- 
    brouncher: [
      { "language": "English", "link": "............" },
      { "language": "Spanish", "link": "............" },
      { "language": "French", "link": "............" },
    ]
   -->