<div class="container py-4">

    <div class="d-flex justify-content-end ">
        <button class="btn btn-danger my-2" (click)="openFormDialog('add')">
            <i class="fa fa-plus text-white " aria-hidden="true"></i> &nbsp;Add Contact
        </button>
    </div>

    <div class="row">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <input type="search" class="form-control" formControlName="search" placeholder="Search Contact">
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Office Name</th>
                <th scope="col">Display Country</th>
                <th scope="col">Other Countries</th>
                <th scope="col">Products</th>
                <th scope="col">Contact</th>
                <th scope="col">Fax</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <div *ngIf="isLoading" class="text-center">
            <div class="spinner-border text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <tbody>

            <tr *ngFor="let c of contacts; let i = index">




                <td scope="row">{{ i + 1 }}</td>
                <td>{{ c.office_name }}</td>
                <td>{{ c.display_country }}</td>
                <td>{{ c.other_countries }}</td>
                <td>{{ c.products }}</td>
                <td>{{ c.contact_number }}</td>
                <td>{{ c.fax }}</td>
                <td>{{ c.email_address }}</td>
                <td>{{ c.address }}</td>
                <td class="d-flex">
                    <button class="btn btn-danger" (click)="openFormDialog('edit', c.display_country, c._id)">
                        <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="delete(c.display_country, c._id)">
                        <i aria-hidden="true" class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>

</div>