figcaption.bold {
    font-weight: 700;
}

img {
    width: 70%;
}

.edit-btn{
    position: absolute;
    right: 10px;
    z-index: 10;
}
.delete-btn{
    position: absolute;
    right: 3.5rem;
    z-index: 10;
}
.red-title-banner{
    background-color: var(--danger);
    // margin-top: 10rem;
    padding: 10px 0;
    text-align: center;
}