<div class="container py-4">



    <div class="row mx-auto">


        <div class="col-3 my-2">
            <a class="text-danger" routerLink="/About/teams" >
                <mat-card class="card border-bottom-danger ">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h6>Teams</h6>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>

        <div class="col-3 my-2">
            <a class="text-danger" routerLink="/About/history" >
                <mat-card class="card border-bottom-danger ">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h6>History</h6>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>

        <div class="col-3 my-2">
            <a class="text-danger" routerLink="teams" >
                <mat-card class="card border-bottom-danger ">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h6>Teams</h6>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>

    </div>
</div>