.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edit-btn{
    position: absolute;
    right: 0.2rem;
    z-index: 10;
}
.delete-btn{
    position: absolute;
    right: 3.5rem;
    z-index: 10;
}
.visit-site {
    color: var(--danger);
}

.visit-site:hover {
    color: var(--danger);
    text-decoration: none;
    /* font-weight: 700; */
    border: 2px solid var(--danger);
    padding: 2px 6px;
    border-radius: 10px;
}

#card {
    cursor: pointer;
}

#card:hover {
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12); */
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}