<div class="py-4">

    <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <ol>
        <li *ngFor="let nav of mainNavData">
            {{ nav.name }}
           

            <ul>
                <li class="mb-0" *ngFor="let a of nav.subNav">
                    {{ a.name }}
                </li>
            </ul>
        </li>
    </ol>



    
</div>