<div class="container py-4">

    <div class="d-flex justify-content-end ">
        <button *ngIf="btnName == 'Add Admins'" class="btn btn-danger my-2" (click)="addAdmin()"><i class="fa fa-plus text-white "
                aria-hidden="true"></i> &nbsp;{{ btnName }}</button>

        <button *ngIf="btnName == 'View Admins'" class="btn btn-danger my-2" (click)="addAdmin()"><i class="fa fa-info text-white "
                aria-hidden="true"></i> &nbsp;{{ btnName }}</button>
    </div>

    <table *ngIf="!toggle" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Privilages</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of adminsData; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ a.name }}</td>
                <td>{{ a.email }}</td>
                <td>{{ a.role == 0 ? 'All Priviliges' : a.role == 1 ? 'Mid Priviliges' : 'View Only' }}</td>
                <td>
                    <select (change)="action($event , a._id)" name="" id="" class="form-control">
                        <option value="">Select..</option>
                        <option value="password" >Change Password</option>
                        <option value="role">Change Role</option>
                    </select>
                </td>
            </tr>

        </tbody>
    </table>


    <mat-card *ngIf="toggle" class="example-card shadow col-6 mx-auto" style="border-bottom: 10px solid #D73141;">
        <mat-card-header class="justify-content-center">
            <mat-card-title>
                <h4 class="text-center">Add Admins</h4>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">

                
                <div class="form-group">

                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Admin Name</mat-label>
                        <input matInput type="text" placeholder="Admin Name..." autocomplete formControlName="adminName" >
                    </mat-form-field>
                    
    
                    <mat-error
                        *ngIf="(!adminForm.controls['adminName'].valid) && (adminForm.controls['adminName'].touched) || (adminForm.hasError('email') && !adminForm.hasError('required'))"
                        class="text-danger">Please enter name.</mat-error>
                </div>
                <div class="form-group">
                     <mat-form-field class="example-full-width w-100">
                        <mat-label>Admin Email</mat-label>
                        <input matInput type="email" placeholder="Admin Email..." autocomplete formControlName="adminEmail" >
                    </mat-form-field>

                    <mat-error
                        *ngIf="(!adminForm.controls['adminEmail'].valid) && (adminForm.controls['adminEmail'].touched) || (adminForm.hasError('email') && !adminForm.hasError('required'))"
                        class="text-danger">Valid email is required.</mat-error>
                </div>
                <div class="form-group">
                     <!-- <mat-form-field class="example-full-width w-100">
                        <mat-label>Admin Privilages</mat-label>
                        <select name="role" formControlName="adminPrivilages" id="" class="form-control">
                            <option value="">Select</option>
                            <option value="1">Read Only</option>
                            <option value="0">Superadmin</option>
                        </select>
                    </mat-form-field> -->
                    <mat-form-field  class="example-full-width w-100">
                        <mat-label>Admin Privilages</mat-label>
                        <mat-select formControlName="adminPrivilages" matNativeControl required>
                          <mat-option value="2">View Only</mat-option>
                          <mat-option value="0">All Priviliges</mat-option>
                          <mat-option value="1">Mid Priviliges</mat-option>
                          
                        </mat-select>
                      </mat-form-field>
                    <mat-error
                        *ngIf="(!adminForm.controls['adminPrivilages'].valid) && (adminForm.controls['adminPrivilages'].touched) || (adminForm.hasError('email') && !adminForm.hasError('required'))"
                        class="text-danger">Please select privilages.</mat-error>
                </div>
                <div class="form-group">
                     <mat-form-field class="example-full-width w-100">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="****" autocomplete formControlName="adminPassword" >
                    </mat-form-field>

                    <mat-error
                        *ngIf="(!adminForm.controls['adminPassword'].valid) && (adminForm.controls['adminPassword'].touched) || (adminForm.hasError('email') && !adminForm.hasError('required'))"
                        class="text-danger">Password must be 8 characters long.</mat-error>
                </div>
                <div class="form-group">
                    <button [disabled]="submit" class="btn btn-danger mt-2">Add</button>
                </div>

                <div class="alert mt-2 alert-success" *ngIf="successMsg?.length > 0">
                    {{ successMsg }}
                </div>

                <div class="alert mt-2 alert-danger" *ngIf="errorMsg?.length > 0">
                    {{ errorMsg }}
                </div>
            </form>
        </mat-card-content>

        
    </mat-card>

    <b>Note:</b>
    <ul>
        <li><b>View Only:</b> Can only View Content (Useless Site Pr bhi dikhta BSDK)</li>
        <li><b>All Priviliges:</b> Can perform all opertions including managing Admins.</li>
        <li><b>Mid Priviliges:</b> Can perfrom all opertaion.</li>
    </ul>



</div>