.red-title-banner {
    height: auto !important;
    background-color: var(--danger);
    margin-top: 1rem;
    padding: 10px 0;
    text-align: center;
}

.position-relative button{
    position: absolute;
    right: 0;
}