<div class="container">

    <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!-- {{type}} {{navId}} {{category}} -->

    <form *ngIf="!isLoading && type=='add'" [formGroup]="newsForm" (ngSubmit)="addForm()">
        <div class="form-group">
            <b>Add News and Press</b>
            <mat-form-field class="example-full-width w-100">

                <mat-label for="name">Heading</mat-label>
                <input matInput placeholder="Enter Heading" formControlName="heading" type="text">
            </mat-form-field>
            <mat-error
                *ngIf="(!newsForm.controls['heading'].valid) && (newsForm.controls['heading'].touched) || (newsForm.hasError('heading') && !newsForm.hasError('required'))"
                class="text-danger">This field is required.</mat-error>

            <mat-form-field class="example-full-width w-100">

                <mat-label for="name">Description</mat-label>
                <textarea matInput placeholder="Enter Description" formControlName="description" type="text"></textarea>
            </mat-form-field>
            <mat-error
                *ngIf="(!newsForm.controls['description'].valid) && (newsForm.controls['description'].touched) || (newsForm.hasError('description') && !newsForm.hasError('required'))"
                class="text-danger">This field is required.</mat-error>

            <!-- <input type="file" accept="image/*" (change)="setImage($event)"> -->
            
            
        </div>

        <button [disabled]="submit" class="btn btn-danger w-100 my-2">Add</button>

        <div class="alert mt-2 alert-success" *ngIf="successMsg?.length > 0">
            {{ successMsg }}
        </div>

        <div class="alert mt-2 alert-danger" *ngIf="errorMsg?.length > 0">
            {{ errorMsg }}
        </div>
    </form>

    <!-- edit -->

    <form *ngIf="!isLoading && type=='edit'" [formGroup]="newsForm" (ngSubmit)="editForm()">
        <div class="form-group">
            <b>Add News and Press</b>
            <mat-form-field class="example-full-width w-100">

                <mat-label for="name">Heading</mat-label>
                <input matInput placeholder="Enter Heading" formControlName="heading" type="text">
            </mat-form-field>
            <mat-error
                *ngIf="(!newsForm.controls['heading'].valid) && (newsForm.controls['heading'].touched) || (newsForm.hasError('heading') && !newsForm.hasError('required'))"
                class="text-danger">This field is required.</mat-error>

            <mat-form-field class="example-full-width w-100">

                <mat-label for="name">Description</mat-label>
                <textarea matInput placeholder="Enter Description" formControlName="description" type="text"></textarea>
            </mat-form-field>
            <mat-error
                *ngIf="(!newsForm.controls['description'].valid) && (newsForm.controls['description'].touched) || (newsForm.hasError('description') && !newsForm.hasError('required'))"
                class="text-danger">This field is required.</mat-error>

            <!-- <input type="file" accept="image/*" (change)="setImage($event)"> -->
            
            
        </div>

        <button [disabled]="submit" class="btn btn-danger w-100 my-2">Update</button>

        <div class="alert mt-2 alert-success" *ngIf="successMsg?.length > 0">
            {{ successMsg }}
        </div>

        <div class="alert mt-2 alert-danger" *ngIf="errorMsg?.length > 0">
            {{ errorMsg }}
        </div>
    </form>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>

    </mat-dialog-actions>
</div>