<div class="container py-4">

    <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="row mx-auto">

        <div *ngIf="gVar.role == 0" class="text-center d-flex justify-content-center">
            <div class="col-3">
                <a routerLink="/manage-admin">
                    <mat-card class="card  border-bottom-danger ">
                        <div class="p-1">
                            <div class="row">
                                <div class="col-12 ">
                                    <i class="fa fa-user fa-2x text-danger" aria-hidden="true"></i>
                                    <h6 class="text-center">Manage Admins</h6>
                                </div>

                            </div>
                        </div>
                    </mat-card>
                </a>
            </div>
        </div>


        <div class="col-3 my-2" *ngFor="let nav of mainNavData">
            <a class="text-danger">
                <mat-card class="card border-bottom-danger ">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-8">
                                <h6>{{ nav.name }}</h6>
                            </div>
                            <div class="col-4"><a class="text-danger">Edit</a></div>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>


        <div class="col-3 my-2" *ngFor="let nav of subNavData">
            <a routerLink="/get-sub-cat/{{nav._id}}" [queryParams]="{type : 'solutionMainCategory'}">
                <mat-card class="card border-bottom-danger">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-8">
                                <h6>{{ nav.name }}</h6>
                            </div>
                            <div class="col-4"><a class="text-danger" routerLink="/sub-cat/{{nav._id}}">Edit</a></div>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
    </div>
</div>