<div *ngIf="isLoading" class="text-center">
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="red-title-banner mt-5">
    <h2 class="text-white" data-fieldName="heading" (blur)="onKey($event)" contenteditable [innerHTML]="indusSolFor?.heading || 'Industry Solution for Name'"> </h2>
</div>

<div class="my-2">
    <button class="btn btn-danger btn-danger mx-2" (click)="goBack()">Back</button>
    <button class="btn btn-danger mx-2" (click)="update()">Update</button>
</div>
<!-- style="width: 100%; height: 100%;position: absolute;left: -20%;top: 2.5%" -->

<section style="padding: 100px 0;">
    <div class="container">
        <label for="gifURL" class="btn btn-danger mx-1">
            <i aria-hidden="true" class="fa fa-pencil-square-o"></i> GIF
        </label>
        <!-- <button  color="accent" class="btn btn-danger mx-1">
            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
        </button> -->
        <input id="gifURL" data-fieldName="gifURL" (change)="onFileChange($event, 'gifURL')" type="file" style="display: none;" accept="image/*" />
        <div class="row  mx-auto">
            <div class="col-sm-5 justify-content-center" style="position: relative;">
                <img [src]="indusSolFor?.gifURL" style="position: absolute;left: -20%;top: -2%" alt="" class="img-fluid">

            </div>

            <div class="col-sm-7 ">

                <div class="strip level1 text-dark">
                    <span data-fieldName="heading1" (blur)="onKey($event)" contenteditable [innerHTML]="indusSolFor?.heading1 || 'Add Here'"></span>
                </div>


                <div class="strip level2 text-dark">
                    <span data-fieldName="heading2" (blur)="onKey($event)" contenteditable [innerHTML]="indusSolFor?.heading2 || 'Add Here'"> </span>
                </div>


                <div class="strip level3 text-dark">
                    <span data-fieldName="heading3" (blur)="onKey($event)" contenteditable [innerHTML]="indusSolFor?.heading3 || 'Add Here'"></span>
                </div>

                <div class="strip level4 text-dark">
                    <span data-fieldName="heading4" (blur)="onKey($event)" contenteditable [innerHTML]="indusSolFor?.heading4 || 'Add Here'"></span>
                </div>

            </div>
        </div>

        <section style="padding: 50px 0;">
            <div class="container">
                <div class="row mx-auto">

                    <div class="position-relative col-12 col-sm-12 col-md-12 col-xl-12">
                        <button (click)="toggleEdit()" color="accent" class="btn btn-danger mx-1">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                        </button>
                        <div *ngIf="toggleBody" class="">
                            <angular-editor [(ngModel)]="indusSolFor.body" [config]="config"></angular-editor>
                        </div>
                        <div [innerHTML]="indusSolFor?.body"></div>

                    </div>

                </div>
            </div>
        </section>

        <section class="bg-light" style="padding: 100px 0;">
            <div class="container">
                <h3 class="text-center">Our featured solutions</h3>

                <div id="lev4" class="row my-4 mx-auto text-center justify-content-center" style="padding: 60px 0;">
                    <div class="col-sm-4 position-relative">
                        <!-- <button (click)="toggleEdit()" color="accent" class="btn btn-danger mx-1">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                        </button> -->
                        <div [innerHTML]="section1"></div>
                        <angular-editor [(ngModel)]="section1" [config]="config"></angular-editor>
                    </div>
                    <div class="col-sm-4">
                        <input  type="file" (change)="onFileChange($event, 'section2')" >
                        <img style="width: 100%; height:100%;" [src]="section2" alt="">
                    </div>
                    <div class="col-sm-4">
                        <div [innerHTML]="section3"></div>
                        <angular-editor [(ngModel)]="section3" [config]="config"></angular-editor>
                    </div>
                </div>

                <div id="lev3" class="row my-4 mx-auto justify-content-center" style="padding: 60px 0;">
                    <div class="col-sm-4 position-relative">
                        <!-- <button (click)="toggleEdit()" color="accent" class="btn btn-danger mx-1">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                        </button> -->
                        <div [innerHTML]="section4"></div>
                        <angular-editor [(ngModel)]="section4" [config]="config"></angular-editor>
                    </div>
                    <div class="col-sm-4">
                        <input  type="file" (change)="onFileChange($event, 'section5')" >
                        <img style="width: 100%; height:100%;" [src]="section5" alt="">
                    </div>
                    <div class="col-sm-4">
                        <div [innerHTML]="section6"></div>
                        <angular-editor [(ngModel)]="section6" [config]="config"></angular-editor>
                    </div>
                </div>

                <div id="lev2" class="row my-4 mx-auto justify-content-center" style="padding: 60px 0;">
                    <div class="col-sm-4">
                        <div [innerHTML]="section7"></div>
                        <angular-editor [(ngModel)]="section7" [config]="config"></angular-editor>
                    </div>
                    <div class="col-sm-4">
                        <input  type="file" (change)="onFileChange($event, 'section8')" >
                        <img style="width: 100%; height:100%;" [src]="section8" alt="">
                    </div>
                    <div class="col-sm-4">
                        <div [innerHTML]="section9"></div>
                        <angular-editor [(ngModel)]="section9" [config]="config"></angular-editor>
                    </div>
                </div>

                <div id="lev1" class="row my-4 mx-auto justify-content-center" style="padding: 60px 0;">
                    <div class="col-sm-4">
                        <div [innerHTML]="section10"></div>
                        <angular-editor [(ngModel)]="section10" [config]="config"></angular-editor>
                    </div>
                    <div class="col-sm-4">
                        <input  type="file" (change)="onFileChange($event, 'section11')" >
                        <img style="width: 100%; height:100%;" [src]="section11" alt="">
                    </div>
                    <div class="col-sm-4">
                        <div [innerHTML]="section12"></div>
                        <angular-editor [(ngModel)]="section12" [config]="config"></angular-editor>
                    </div>
                </div>
            </div>
        </section>


    </div>
</section>