<div class="container">

    <div *ngIf="type == 'add' && cat == 'category'">
        <form [formGroup]="dataSheetCategoryForm" (ngSubmit)="addCategory()">

            <mat-form-field class="example-full-width w-100">
                <mat-label>Sheet Category Name</mat-label>
                <input matInput type="password" placeholder="Ex: Saftey" formControlName="name" autocomplete
                    type="text">
            </mat-form-field>

            <button mat-flat-button color="warn">Add</button>

            <div class="alert mt-2 alert-success" *ngIf="successMsg.length > 0">
                {{ successMsg }}
            </div>

            <div class="alert mt-2 alert-danger" *ngIf="errorMsg.length > 0">
                {{ errorMsg }}
            </div>
        </form>
    </div>

    <div *ngIf="type == 'edit' && cat == 'category'">
        Edit Sheet Category
    </div>



    <div *ngIf="type == 'add' && cat == 'datasheet'">
        <!-- <p>Parent ID : {{ parentId }}</p>
        <p>Category ID : {{ categoryId }}</p> -->
        <h6>Add Data Sheet</h6>
        <form [formGroup]="dataSheeForm" (ngSubmit)="addDataSheet()">
        <mat-form-field class="example-full-width w-100">
            <mat-label>Name</mat-label>
            <input  formControlName="name" data-fieldName="name"  required matInput type="password" placeholder="Ex: MEK-2500" autocomplete type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Language</mat-label>
            <mat-select required formControlName="language" data-fieldName="language">
                <mat-option value="English">English</mat-option>
                <mat-option value="French">French</mat-option>
                <mat-option value="Spanish">Spanish</mat-option>
                <mat-option value="Korean">Korean</mat-option>
            </mat-select>
        </mat-form-field>


        <input [writeFile]="true" (change)="onFileChange($event)" type="file" formControlName="file" name="file" id="file" class="form-control">

        <button mat-flat-button color="warn" class="my-3">Add</button>

        <div class="alert mt-2 alert-success" *ngIf="successMsg.length > 0">
            {{ successMsg }}
        </div>

        <div class="alert mt-2 alert-danger" *ngIf="errorMsg.length > 0">
            {{ errorMsg }}
        </div>
    </form>


    </div>
</div>