/* You can add global styles to this file, and also import other style files */

*{
    --danger : #D73141;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.border-bottom-danger {
    border-bottom: 4px solid #d73141;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 184, 184);
}

::ng-deep .mat-ink-bar {
    background-color: #d73141 !important;
}

::ng-deep .swal2-icon .swal2-icon-content {
    display: flex;
    align-items: center;
    font-size: 1em !important;
}
