<app-preview-navbar></app-preview-navbar>
<div class="red-title-banner">
    <h2 class="text-white" data-fieldName="heading" [innerHTML]="heading"> </h2>
</div>


<section style="padding-bottom: 20%;">
    <div class="container">
        <div class="row mx-auto">

            <div  style="padding-top: 50px 0;" *ngFor="let s of editSection; let i = index" class="col-12 col-sm-6 col-md-6 col-xl-6">
                <div *ngIf="!s.data.includes('Lorem Ipsum')" [innerHTML]="s.data"></div>
            </div>
        </div>
    </div>
</section>

<section class="contact-home" style="margin-bottom: 5%;">
    <div class="text-center" style="position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%);">
        <h3 class="text-center">Can’t find a solution you are after?
            <br>We can still help, talk to our experts today
        </h3>
        <button class="btn btn-danger btn-lg mt-4" routerLink="/contact">Contact BTG</button>
    </div>

</section>
