.red-title-banner {
    height: auto !important;
    background-color: var(--danger);
    // margin-top: 1rem;
    margin-top: 10rem;
    padding: 10px 0;
    text-align: center;
}

.mat-drawer-container {
    background-color: white !important;
    color: rgba(0,0,0,.87);
}

footer ul,
p {

    list-style-type: none;
    color: gray;
}
footer ul {
    padding-left: 0px !important;
}
footer ul li{
    font-size: 12px;
    list-style-type: none;
    color: gray;
}

.contact-home {
    width: 100% !important;
    height: 50vh !important;
    background: url('../../assets/hero/conatct.png') no-repeat center center !important;
    background-size: cover !important;
}