<!-- <p>{{ id }}</p>
<p>{{ name }}</p> -->
<h5>Download History for: {{ name }}</h5>

<div style="padding: 50px 50px;">

    <h3>Manage Users</h3>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>

    <div *ngIf="isLoading">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div><br>
        <span>Loading...</span>
    </div>

    <div *ngIf="!isLoading" class="mat-elevation-z8">


        <table mat-table [dataSource]="dataSource" matSort>

            <!-- <ng-container> Heck</ng-container> -->
            <!-- ID Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
                <td mat-cell *matCellDef="let row"> {{row.category}} </td>
            </ng-container>
            <ng-container matColumnDef="sheetName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sheet Name </th>
                <td mat-cell *matCellDef="let row"> {{row.sheetName}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="sheetLang">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sheet Language </th>
                <td mat-cell *matCellDef="let row"> {{row.sheetLang}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="downloadDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Download Date </th>
                <td mat-cell *matCellDef="let row"> {{row.downloadDate | date}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row"><button (click)="openFormDialog(row.id, row.name)" mat-button color="warning">View History</button></td>
            </ng-container> -->

            <!-- Color Column -->
            <!-- <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
